<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServicePath" value="samples/echo"/>
    <add key="ServiceNamespace" value="MY_SERVICE_NAMESPACE"/>
    <add key="IssuerName" value="MY_ISSUER_NAME"/>
    <add key="IssuerSecret" value="MY_ISSUER_SECRET"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0"
                         newVersion="1.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
