<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CacheAPISample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CacheAPISample.Properties.Settings>
            <setting name="EncryptedToken" serializeAs="String">
                <value>[Encrypted ACS token goes here]</value>
            </setting>
            <setting name="EncryptionKey" serializeAs="String">
                <value>[Symmetric key used for encryption goes here]</value>
            </setting>
            <setting name="EncryptionIV" serializeAs="String">
                <value>[Initialization vector used for encryption goes here]</value>
            </setting>
        </CacheAPISample.Properties.Settings>
    </userSettings>
</configuration>