<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ServicePath" value="samples/echo"/>
    <add key="ServiceNamespace" value="MY_SERVICE_NAMESPACE"/>
    <add key="IssuerName" value="MY_ISSUER_NAME"/>
    <add key="IssuerSecret" value="MY_ISSUER_SECRET"/>
  </appSettings>
	<connectionStrings/>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="None"/>
		<customErrors mode="Off"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
