<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StorageAccountConnectionString" value="useDevelopmentStorage=true" />
    <!--<add key="StorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=storagesample;AccountKey=m4AHRkXjfhly2rE2YN/hcUR4U2lkGdCmj2/1ISutZKl+OqlrZN98Mhzq/U2AHYJT992tLmrkFW+mQgw9loIVCg=="/>-->
  </appSettings>
</configuration>