<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <add name="ContosoToursDB" providerName="System.Data.SqlClient" 
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Program Files\Microsoft\Contoso Tours (SAPSK)\Database\ContosoToursDB.mdf;Integrated Security=True;User Instance=True"/>
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>