button {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #7cacde;
}

.column {
    width:300px;float:left;
}

.columnData {
    margin:15px;height:400px;overflow:auto;
}

.postContainer {
  border-bottom:1px solid #808080
}  

.postBody {
    margin-bottom:10px;padding-bottom:10px;
}

.authorContainer {
  margin:10px;padding:10px;
}