<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!-- Please provide parameters necessary for the sample to run without 
    prompting for input -->

    <!-- Provide the FQDN of the Microsoft Lync Server -->
    <add key="ServerFQDN1" value="accounting.contoso.com"/>

    <!-- The user name of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently 
    logged on user -->
    <add key="UserName1" value="barbara"/>

    <!-- The user domain of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently 
    logged on user -->
    <add key="UserDomain1" value="contoso.com"/>

    <add key="UserDomainAndUserName" value="johncla8@clientsemain.rtmp.selfhost.corp.microsoft.com"/>

    <!-- The user URI of the user that the sample logs in as, in the format 
    user@host -->
    <add key="UserURI1" value="sip:barbara@accounting.contoso.com"/>

  </appSettings>
</configuration>