<h3>@ViewBag.Title</h3>
<h6>@ViewBag.Message</h6>
<div class="jumbotron">
    <div>For support and answers to questions about this app's code & architecture please contact:</div>
    <div class="help-block"><a href="mailto:support@point8020.com">support@point8020.com</a></div>
</div>
