<h3>@ViewBag.Title</h3>
<div class="jumbotron" style="background-color: #ff7518; border-color: #ff4309;text-align:center;">
    <h4>@ViewBag.Message</h4>
    
</div>
<div class="ActionLinkButton" onclick="javascript: history.go(-1);" style="float:none;width:150px;margin-left:0">Back</div>