<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Please provide parameters necessary for the sample to run without 
    prompting for input -->

    <!-- Provide the FQDN of the Microsoft Lync Server -->
    <add key="ServerFQDN1" value="marketing.contoso.com"/>

    <!-- The user name of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently 
    logged on user -->
    <add key="UserName1" value="kate"/>

    <!-- The user domain of the user that the sample logs in as -->
    <!-- You may leave this value as blank to use credentials of the currently 
    logged on user -->
    <add key="UserDomain1" value="contoso.com"/>

    <!-- The user URI of the user that the sample logs in as, in the format 
    user@host -->
    <add key="UserURI1" value="kate@contoso.com"/>
    <add key="UserURI2" value="john@contoso.com"/>

    <add key="CalledParty" value="barbara@contoso.com"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
