/*
***** Object Creation Script: CatalogDB 			*****
***** Database Schema and Stored Procedures			*****
***** Script Date: 09/01/2014						*****
***** Created By: Martin Harwar						*****
***** Point8020 Limited | www.point8020.com			*****
***** Created For: Contoso Catalog - An MSDN App	*****
***** Purpose: Create Database Objects in SQL Azure	*****
*/

/****** Object:  Table [dbo].[Category] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[CategoryDescription] [nvarchar](max) NULL,
	[CategoryImageURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO

/****** Object:  Table [dbo].[Product] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductPrice] [smallmoney] NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[ProductImageURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO

ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_CategoryID]  DEFAULT (newid()) FOR [CategoryID]
GO

ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_ProductID]  DEFAULT (newid()) FOR [ProductID]
GO

ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_ProductPrice]  DEFAULT ((0.00)) FOR [ProductPrice]
GO

ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO

ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO

/****** Data:  Insert Category Data ******/
INSERT Category(CategoryID, CategoryName, CategoryDescription, CategoryImageURL) VALUES('434B6E8E-BD66-4BEC-A19D-4BB0810042C4','Visual','Visual Equipment','../Images/Visuals.png')
INSERT Category(CategoryID, CategoryName, CategoryDescription, CategoryImageURL) VALUES('7AA7C10E-A781-4E9D-8F24-8882ADE367B0','Audio','Audio Equipment','../Images/Audio.png')
INSERT Category(CategoryID, CategoryName, CategoryDescription, CategoryImageURL) VALUES('C76C839B-EA30-4F4F-9847-C1D5455A76CB','Production','Video Software','../Images/Editing.png')

/****** Data:  Insert Product Data ******/
INSERT PRODUCT (ProductID, CategoryID, ProductName, ProductPrice, ProductDescription, ProductImageURL) VALUES('4F47B866-030E-45B7-A54E-1DEE6AA7CE5C','7AA7C10E-A781-4E9D-8F24-8882ADE367B0','Vanilla C-Dense',29.99,'Entry-Level Condensing Microphone','../Images/Vanilla.jpg')
INSERT PRODUCT (ProductID, CategoryID, ProductName, ProductPrice, ProductDescription, ProductImageURL) VALUES('F66091EE-3A2D-4493-AE4D-20378CA86624','434B6E8E-BD66-4BEC-A19D-4BB0810042C4','Sunburst-X',29.99,'Extra-fine gold-wired lens that gives a sunburst effect','../Images/Sunburst.jpg')
INSERT PRODUCT (ProductID, CategoryID, ProductName, ProductPrice, ProductDescription, ProductImageURL) VALUES('234E918F-E5DC-4142-B05E-445FAF16CCE5','C76C839B-EA30-4F4F-9847-C1D5455A76CB','VidMeo App',79.99,'Video Production App','../Images/VidMeApp.jpg')

/****** Object:  StoredProcedure [dbo].[AddCategory] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCategory]
	@CategoryName nvarchar(50),
	@CategoryDescription nvarchar(max) = null,
	@CategoryImageURL nvarchar(max) = null
AS
BEGIN
	SET NOCOUNT ON
	IF EXISTS(SELECT * FROM Category WHERE CategoryName = @CategoryName)
	BEGIN
		SELECT 'Point8020.CategoryExists' AS [Status]
		RETURN
	END
	INSERT Category(CategoryName, CategoryDescription, CategoryImageURL)
	VALUES(@CategoryName, @CategoryDescription, @CategoryImageURL)

	SELECT 'Point8020.Success' AS [Status], CategoryID FROM Category
	WHERE CategoryName = @CategoryName
END
GO

/****** Object:  StoredProcedure [dbo].[AddProduct] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProduct]
	@CategoryID uniqueidentifier,
	@ProductName nvarchar(50),
	@ProductDescription nvarchar(max),
	@ProductImageURL nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;
	IF NOT EXISTS(SELECT * FROM Category WHERE CategoryID = @CategoryID)
	BEGIN
		SELECT 'Point8020.CategoryNotExists' AS [Status]
		RETURN
	END
	IF EXISTS(SELECT * FROM Product WHERE CategoryID = @CategoryID AND ProductName = @ProductName)
	BEGIN
		SELECT 'Point8020.ProductExistsInCategory' AS [Status]
		RETURN
	END
	INSERT Product(CategoryID, ProductName, ProductDescription, ProductImageURL)
	VALUES(@CategoryID, @ProductName, @ProductDescription, @ProductImageURL)
	
	SELECT 'Point8020.Success' AS [Status], ProductID FROM Product
	WHERE CategoryID = @CategoryID AND ProductName = @ProductName
END
GO

/****** Object:  StoredProcedure [dbo].[DeleteCategory] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCategory]
	@CategoryID uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;
	IF NOT EXISTS(SELECT * FROM Category WHERE CategoryID = @CategoryID)
	BEGIN
		SELECT 'Point8020.CategoryNotExists' AS [Status]
		RETURN
	END
	DELETE Product WHERE CategoryID = @CategoryID
	DELETE Category	WHERE CategoryID = @CategoryID

	SELECT 'Point8020.Success' AS [Status]
END
GO

/****** Object:  StoredProcedure [dbo].[DeleteProduct] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProduct]
	@ProductID uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;
	IF NOT EXISTS(SELECT * FROM Product WHERE ProductID = @ProductID)
	BEGIN
		SELECT 'Point8020.ProductNotExists' AS [Status]
		RETURN
	END
	DELETE Product WHERE ProductID = @ProductID

	SELECT 'Point8020.Success' AS [Status]
END
GO

/****** Object:  StoredProcedure [dbo].[ListAllProducts] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListAllProducts]
AS
BEGIN
	SELECT c.CategoryName, p.ProductName, p.ProductDescription, p.ProductPrice, p.ProductImageUrl
	FROM Category c INNER JOIN Product p
	ON c.CategoryID = p.ProductID
	ORDER BY c.CategoryName ASC, p.ProductName
END
GO

/****** Object:  StoredProcedure [dbo].[ListCategories] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListCategories] 
AS
BEGIN
	SELECT CategoryID, CategoryName, CategoryDescription, CategoryImageURL
	FROM Category
	ORDER BY CategoryName ASC
END
GO

/****** Object:  StoredProcedure [dbo].[ListProductsInCategory] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListProductsInCategory]
	@CategoryID uniqueidentifier
AS
BEGIN
	SELECT ProductID, ProductName, ProductDescription, ProductPrice, ProductImageURL
	FROM Product
	WHERE CategoryID = @CategoryID
	ORDER BY ProductName
END
GO

/****** Object:  StoredProcedure [dbo].[UpdateCategory] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCategory]
	@CategoryID uniqueidentifier,
	@CategoryName nvarchar(50),
	@CategoryDescription nvarchar(max),
	@CategoryImageURL nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;
	IF NOT EXISTS(SELECT * FROM Category WHERE CategoryID = @CategoryID)
	BEGIN
		SELECT 'Point8020.CategoryNotExists' AS [Status]
		RETURN
	END
	UPDATE Category
	SET CategoryName = @CategoryName, CategoryDescription = @CategoryDescription, CategoryImageURL = @CategoryImageURL
	WHERE CategoryID = @CategoryID

	SELECT 'Point8020.Success' AS [Status]
END
GO

/****** Object:  StoredProcedure [dbo].[UpdateProduct] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProduct]
	@CategoryID uniqueidentifier,
	@ProductID uniqueidentifier,
	@ProductName nvarchar(50),
	@ProductDescription nvarchar(max),
	@ProductImageURL nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;
	IF NOT EXISTS(SELECT * FROM Category WHERE CategoryID = @CategoryID)
	BEGIN
		SELECT 'Point8020.CategoryNotExists' AS [Status]
		RETURN
	END
	IF NOT EXISTS(SELECT * FROM Product WHERE ProductID = @ProductID)
	BEGIN
		SELECT 'Point8020.ProductNotExists' AS [Status]
		RETURN
	END
	IF EXISTS(SELECT * FROM Product WHERE CategoryID = @CategoryID AND ProductName = @ProductName AND ProductID != @ProductID)
	BEGIN
		SELECT 'Point8020.ProductWithSameNameExistsInCategory' AS [Status]
		RETURN
	END
	UPDATE Product
	SET CategoryID = @CategoryID, ProductName = @ProductName, ProductDescription = @ProductDescription, ProductImageURL = @ProductImageURL
	WHERE ProductID = @ProductID

	SELECT 'Point8020.Success' AS [Status], * FROM Product WHERE ProductID = @ProductID
END
GO

/****** Object:  StoredProcedure [dbo].[UpdateProductPrice] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProductPrice]
	@ProductID uniqueidentifier,
	@ProductPrice smallmoney
AS
BEGIN
	SET NOCOUNT ON;
	IF NOT EXISTS(SELECT * FROM Product WHERE ProductID = @ProductID)
	BEGIN
		SELECT 'Point8020.ProductNotExists' AS [Status]
		RETURN
	END
	UPDATE Product
	SET ProductPrice = @ProductPrice
	WHERE ProductID = @ProductID

	SELECT 'Point8020.Success' AS [Status]
END
GO

