@font-face {
    font-family: 'GeorgiaRegular';
    src: url('../content/fonts/georgia_0-webfont.eot');
    src: url('../content/fonts/georgia_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../content/fonts/georgia_0-webfont.woff') format('woff'),
         url('../content/fonts/georgia_0-webfont.ttf') format('truetype'),
         url('../content/fonts/georgia_0-webfont.svg#GeorgiaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd33ThEx';
    src: url('../content/fonts/helveticaneueltstd-thex-webfont.eot');
    src: url('../content/fonts/helveticaneueltstd-thex-webfont.eot?#iefix') format('embedded-opentype'),
         url('../content/fonts/helveticaneueltstd-thex-webfont.woff') format('woff'),
         url('../content/fonts/helveticaneueltstd-thex-webfont.ttf') format('truetype'),
         url('../content/fonts/helveticaneueltstd-thex-webfont.svg#HelveticaNeueLTStd33ThEx') format('svg');
    font-weight: normal;
    font-style: normal;

}


article div {
    margin-left:50px;
    margin-right:50px;
    overflow:auto;
}

#weatherTableCaption {
    font-family: GeorgiaRegular;
    font-size: 22px;
}

.forecast-title
{
    font-family: HelveticaNeueLTStd33ThEx;
    color:rgb(0, 114, 198);
    font-size: 20px;
}

.forecast-description
{
    font-family: GeorgiaRegular;
    font-size: 16px;
}