<?xml version="1.0" encoding="utf-8"?>

<!--
  This configuration file is referenced by the Web.config file in all the sample projects to supply 
  global settings.
-->
<appSettings>

  <!-- Specify the server name of the SQL Reporting instance. This is found in the URL:
       https://<RSSERVER_NAME>/ReportServer. -->
  <!--<add key="RSSERVER_NAME" value="instance_name.account_name.windowsazure.mscds.com" /> -->
  <add key="RSSERVER_NAME" value="vrgmdoike9.reporting.windows.net" />
  
  <!-- Specify the username used to access the SQL Reporting instance. -->
  <add key="RSUSERNAME" value="chmediko"/>

  <!-- Specify the password used to access the SQL Reporting instance. -->
  <add key="RSPASSWORD" value="Chaitu_01"/>

  <!-- Specify the path of the report hosted in SQL Reporting. This used by the ReportViewer Server Mode project. -->
  <!--<add key="RSREPORT_PATH" value="/dir/subdir/report_name" />-->
  <add key="RSREPORT_PATH" value="/SSRSReport/Report1" />
  
</appSettings>
