<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - O365 SharePoint App Sample</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="main-content ">
        @RenderBody()
    </div>
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.0.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>
