/* Place custom styles below */
.tile{
    width:170px;
    height:50px;
    color:#FFFFFF;
    background-color:#0072C6;
    margin-top:5px;
    margin-left:0px;
    margin-right:10px;
    margin-bottom:10px;
    cursor:pointer;
    padding:5px;
    float:left;
    text-align:center;
}
 
.tileHeadingText{
    text-align:center;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:24px;
    margin-top:10px;
    margin-bottom:10px;
}
.tileBodyText{
    text-align:center;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
}
.item {
    cursor:pointer;
    color:#09356A;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
}

.edit {
    cursor:pointer;
    float:left;
    padding-left:20px;
    background-image:url(../Images/Edit.png);
    background-position:left;
    background-repeat:no-repeat;
}

.play {
    cursor:pointer;
    float:left;
    padding-left:20px;
    background-image:url(../Images/Play.png);
    background-position:left;
    background-repeat:no-repeat;
}

.timelineAdder {
    cursor:pointer;
    float:left;
    padding-left:20px;
    background-image:url(../Images/TimelineAdder.png);
    background-position:left;
    background-repeat:no-repeat;
}

.clear {
    width:100%;
    clear:both;
    height:5px;
}
.clearSpace {
    width:100%;
    clear:both;
    height:25px;
}
.errorClass {
    color:#ffffff;
    background-color:#ff0000;
    margin-right:10px;
}
.clicker {
    cursor:pointer;
    padding-bottom:10px;
    padding-right:10px;
    padding-top:10px;
    padding-left:0px;
    color:orange;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:18px;
}
.formClicker {
    cursor:pointer;
    margin-left:50px;
    color:#0072C6;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:18px;
}
.listHeading {
    color:#0072C6;
    font-size:24px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
}
.formTitle {
    width:600px;
    float:right;
    text-align:right;
    margin-right:20px;
    margin-bottom:20px;
    margin-top:0px;
    color:#ffffff;
    font-size:36px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
}
.formLabel {
    width:200px;
    float:left;
    margin-left:50px;
    margin-right:40px;
    color:#ffffff;
    font-size:16px;
    font-family:"Segoe UI", sans-serif; 
}
.formLabelWide {
    width:650px;
    float:left;
    margin-left:50px;
    margin-right:40px;
    color:#ffffff;
    font-size:16px;
    font-family:"Segoe UI", sans-serif; 
}
.formLabelRight {
    width:600px;
    float:right;
    text-align:right;
    margin-right:20px;
    margin-bottom:20px;
    margin-top:0px;
    color:#ffffff;
    font-size:24px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
}
.button {
    color:white;
    background-color:#3A3A3A;
    font-size:18px;
    font-family:"Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:Pointer;
    height:30px;
    width:75px;
    float:right;
    margin:5px;
    text-align:center;
    vertical-align:middle;
}
    .button:hover {
    background-color:#7A7A7A;
    }
.buttonLite {
    color:white;
    font-size:16px;
    font-family:"Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:Pointer;
    height:30px;
    width:75px;
    float:right;
    margin:5px;
    text-align:center;
    vertical-align:middle;
}

#videosInProduction {
     width:3000px;  
     white-space:normal;
     max-height:100px;
     height:100px;
     background-color:#FFFFFF;
     padding-left:3px;
     margin-left:3px;
}

#videosInProduction div { 
    margin-left:5px; 
    padding-left: 3px; 
    float: left; 
    width: 100px; 
    height: 90px; 
    color:white;
    font-size:16px;
    font-family:"Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:move; 
    text-align: left; 
}

#wrapper {
    width: 730px;
    overflow-x:scroll;
    overflow-y:hidden; 
    margin-left:50px;
}

.timelineItem {
    color:white;
    background-color:#1A1A1A;
    font-size:18px;
    font-family:"Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:Pointer;
    height:30px;
    width:75px;
    float:right;
    margin:5px;
    text-align:left;
    vertical-align:middle;
}
    .timelineItem:hover {
    background-color:#5A5A5A;
    }

.cutData {
    color:#AAAAAA;
    font-size:12px;
    font-family:"Segoe UI", sans-serif;
    margin-left:0px;
    margin-right:3px;
    margin-top:0px;
    margin-bottom:0px;
    padding:0;
    text-align:right;
    float:none;
}
.timelineClicker {
    cursor:pointer;
    font-size:12px;
    font-family:"Segoe UI", sans-serif;
    margin-left:0px;
    margin-right:3px;
    margin-top:0px;
    margin-bottom:0px;
    padding:0;
    text-align:right;
    float:none;
    color:#FFFFFF;
    
}
.spinnerLabel {
    cursor:pointer;
    color:#FFFFFF;
    font-family:"Segoe UI", sans-serif; 
    font-size:12px;
    float:left;
    width:55px;
    text-align:center;
}