<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CustomerFederation"
			 connectionString="data source=[SQLAzureServerName],1433;Uid=[UserName]@[LogicalServerName];Pwd=[Password];Database=AdventureWorks2;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>