/* Place custom styles below */
.tile{
    width:170px;
    height:50px;
    color:#FFFFFF;
    background-color:#0072C6;
    margin-top:5px;
    margin-left:0px;
    margin-right:10px;
    margin-bottom:10px;
    cursor:pointer;
    padding:5px;
    float:left;
    text-align:center;
}
 
.tileHeadingText{
    text-align:center;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:24px;
    margin-top:10px;
    margin-bottom:10px;
}
.tileBodyText{
    text-align:center;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
}
.item {
    cursor:pointer;
    color:#09356A;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
}

.moduleItem {
    cursor:pointer;
    color:#0072C6;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
    float:none;
    margin-left:50px;
}
.moduleNavigationItem {
    cursor:pointer;
    color:#FFFFFF;
    font-family:"Segoe UI", sans-serif; 
    font-size:16px;
    float:none;
    padding-left:20px;
    margin-left:5px;
    background-image:url(../Images/Principle.png);
     background-position:left;
    background-repeat:no-repeat;
    font-weight:600;
}
.topicConcept {
    cursor:pointer;
    color:#FFFFFF;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
    float:none;
    padding-left:20px;
    margin-left:20px;
    background-image:url(../Images/Concept.png);
    background-position:left top;
    background-repeat:no-repeat;
}
.topicFact {
    cursor:pointer;
    color:#FFFFFF;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
    float:none;
    padding-left:20px;
    margin-left:20px;
    background-image:url(../Images/Fact.png);
    background-position:left top;
    background-repeat:no-repeat;

}
.topicPrinciple {
    cursor:pointer;
    color:#FFFFFF;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
    float:none;
    padding-left:20px;
    margin-left:20px;
    background-image:url(../Images/Principle.png);
    background-position:left top;
    background-repeat:no-repeat;

}
.topicProcedure {
    cursor:pointer;
    color:#FFFFFF;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
    float:none;
    padding-left:20px;
    margin-left:20px;
    background-image:url(../Images/Procedure.png);
    background-position:left top;
    background-repeat:no-repeat;

}
.topicProcess {
    cursor:pointer;
    color:#FFFFFF;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
    float:none;
    padding-left:20px;
    margin-left:20px;
    background-image:url(../Images/Process.png);
    background-position:left top;
    background-repeat:no-repeat;

}
.deleteButton {
    cursor:pointer;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    margin-left:50px;
    margin-right:5px;
    color:#ffffff;
    background-color:#AAAAAA;
    font-family:"Segoe UI", sans-serif; 
    font-size:12px;
}
.clear {
    width:100%;
    clear:both;
    height:5px;
}
.clearSpace {
    width:100%;
    clear:both;
    height:40px;
}
.errorClass {
    color:#ffffff;
    background-color:#ff0000;
    margin-right:10px;
}
.clicker {
    cursor:pointer;
    padding-bottom:10px;
    padding-right:10px;
    padding-top:10px;
    padding-left:0px;
    color:orange;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:18px;
}
.formClicker {
    cursor:pointer;
    margin-left:50px;
    color:#0072C6;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:18px;
}
.listHeading {
    color:#0072C6;
    font-size:24px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
}
.formTitle {
    width:600px;
    float:right;
    text-align:right;
    margin-right:20px;
    margin-bottom:20px;
    margin-top:0px;
    color:#ffffff;
    font-size:36px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
}
.formLabel {
    width:200px;
    float:left;
    margin-left:50px;
    margin-right:40px;
    color:#ffffff;
    font-size:16px;
    font-family:"Segoe UI", sans-serif; 
}
.formLabelWide {
    width:650px;
    float:left;
    margin-left:50px;
    margin-right:40px;
    color:#ffffff;
    font-size:16px;
    font-family:"Segoe UI", sans-serif; 
}
.formLabelRight {
    width:600px;
    float:right;
    text-align:right;
    margin-right:20px;
    margin-bottom:20px;
    margin-top:0px;
    color:#ffffff;
    font-size:24px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
}
.reportQuestion {
    width:600px;
    float:left;
    color:#ffffff;
    font-size:18px;
    font-family:"Segoe UI", sans-serif; 
}
.button {
    color:white;
    background-color:#0072C6 ;
    font-size:18px;
    font-family:"Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:Pointer;
    height:30px;
    width:75px;
    float:right;
    margin:5px;
    text-align:center;
    vertical-align:middle;
}
.buttonLite {
    color:white;
    font-size:16px;
    font-family:"Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:Pointer;
    height:30px;
    width:75px;
    float:right;
    margin:5px;
    text-align:center;
    vertical-align:middle;
}