<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CustomerFederation" connectionString="data source=[SQLAzureServerName];Uid=[UserName]@[LogicalServerName];Pwd=[Password];Database=AdventureWorks3;" providerName="System.Data.SqlClient" />
    <add name="AWEFEntities" connectionString="metadata=res://*/AWEFModel.csdl|res://*/AWEFModel.ssdl|res://*/AWEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[SQLAzureServerName],1433;Initial Catalog=AdventureWorks3;Persist Security Info=True;User ID=[Username]@[LogicalServerName];Password=[Password];MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>